<h1 class="h1 text-center">
  {{department}}
</h1>

<div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]="label" (keydown)="handleKey($event)">
</div>

<ul class="list-group">
  <li class="list-group-item d-flex" *ngFor="let item of data">
    <div class="mr-auto p-2">{{ item.name }}</div>
    <div class="p-2">
      <span class="badge badge-pill badge-primary">
        {{ calculate(item.number) }}
      </span>
      <button title="Delete" class="btn btn-danger" (click)="remove.emit(item)">Delete</button>
    </div>


  </li>

</ul>